<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="discoschowellEntities" connectionString="metadata=res://*/Context.DiscosChowell.Model1.csdl|res://*/Context.DiscosChowell.Model1.ssdl|res://*/Context.DiscosChowell.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=discoschowell.mssql.somee.com;initial catalog=discoschowell;persist security info=True;user id=noeshi_SQLLogin_2;password=zxi6xh3g26;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiscosChowellEntities" connectionString="metadata=res://*/Context.DiscosChowell.Model1.csdl|res://*/Context.DiscosChowell.Model1.ssdl|res://*/Context.DiscosChowell.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=discoschowell.mssql.somee.com;initial catalog=discoschowell;persist security info=True;user id=noeshi_SQLLogin_2;password=zxi6xh3g26;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>