<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DiscosChowellEntities" connectionString="metadata=res://*/Context.DiscosChowell.Model1.csdl|res://*/Context.DiscosChowell.Model1.ssdl|res://*/Context.DiscosChowell.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BD8D45BV;initial catalog=discos_chowell;persist security info=True;user id=admin;password=TvMc12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>